body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-urbanist: Urbanist;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-sm: 14px;
  --font-size-13xl: 32px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-21xl: 40px;
  --font-size-17xl: 36px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #1b0121;
  --color-mistyrose: #efdede;
  --color-mediumseagreen: #0fb381;
  --color-darkslateblue: #2c4072;

  /* Gaps */
  --gap-12xs: 1px;

  /* border radiuses */
  --br-17xl: 36px;
  --br-5xs: 8px;
  --br-3xs: 10px;
}
